body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
video{
    background-color: black;
    width: 100%;
    height: calc(100dvh - 200px);
}
#commands{
    text-align: center;
    .buttons{
        margin-top: 20px;
        button{
            border:none;
            border-radius: 99999px;
            padding: 5px 10px;
            &:hover{
                cursor: pointer;
            }
        }
    }
    #arrowDisplay{
       
        font-size: 40px;
        }
}
#battery{
    position: fixed;
    .number{
        position: absolute;
        color: white;
        font-size: 9px;
        font-family: monospace;
        font-weight: bold;
        top: 13px;
        left: 7px;
        font-smooth: never;
        -webkit-font-smoothing: none;
        text-align: center;
    }
    .icon{
        position: absolute;
        svg{
            width: 35px;
            height: 35px;
            path{
                
            }
        }
    }
   
}