<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>POV roomba</title>
       <link rel="stylesheet/less" type="text/css" href="static/styles.less" />
       <script src="https://cdn.jsdelivr.net/npm/less" ></script>
       <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script
       <script src="static/main.js" ></script>
    </head>
    <body>
        <div id="container">
            <div class="overlayWrapper">
                <video id="remote-video" autoplay="" width="640" height="480">
                    Your browser does not support the video tag.
                </video>
              
            </div>
        </div>
        <div id="commands">
            <div id="arrowDisplay" class="arrow-display">Press an arrow key...</div>
            <div class="buttons">
                <button id="start" style="background-color: green; color: white" onclick="start();">START</button>
                <button disabled id="stop" style="background-color: red; color: white" onclick="stop();">STOP</button>
            </div>
        </div><br>
       
</html>
